@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #2d2d2d;
}
.main-btn {
  font-size: 16px;
  width: fit-content;
  padding: 10px 20px;
  background-color: #10316b;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}
.main-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.main-btn:active {
  transform: scale(0.95);
  transition: 0.1s;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
